body {
    font-family: 'Georgia Pro Light', 'Gerogia', serif; 
    font-size: 16px;
    color: #7F8589;
    background-color: #ffffff;
}

div {
    margin-bottom: 5em; /* lisää tilaa elementtien välille */
}

/* otsikon ja linkkinapin taustakuva */
.coverkuva {  
    background-image: url("PalmuHeaderJPG-V2.jpg");
    width: 100%;
    max-width: 1000px;
    height: 350px;
    background-position: center;
    position: relative;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 auto;

}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 70px;
}

.bottom {
    position: absolute;
    display: flex;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    padding: 2px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Otsikot */
h1 {
    font-family: 'Audrey', 'Geneva', sans-serif;
    font-style: normal;
    font-size: 36px;
    color: #193C31;
    text-align: center;
}

h2 {
    font-family: 'Audrey', 'Geneva', sans-serif;
    font-style: normal;
    font-size: 28px;
    color: #193C31;
}

h3 {
    font-family: 'Audrey', 'Geneva', sans-serif;
    font-style: normal;
    font-size: 20px;
    color: #193C31; 
}

p {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    text-align: center;
}
/* Linkit */
a {
    font-family: 'Audrey', 'Geneva', sans-serif;
    font-size: 18px;
    font-style: normal;
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Yläpalkki */
.navbar {
    background-color: #458D60;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
}

.navbar a {
    font-family: 'Audrey', 'Geneva', sans-serif;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    margin-right: 2em;
    margin-left: 2em;
}

.navbar a:hover{
    text-decoration: underline;
}

.navbar a.active {
    text-decoration: underline;
}

.logo {
    position: relative;
    display: flex;
    width: 155px;
    height: 150px;
}


/*linkkinappi*/
.btn {
    display: inline-block;
    padding: 20px 80px;
    background-color: #193C31;
    font-family: 'Audrey' , 'Geneva', sans-serif;
    font-size: 22px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    align-items: center;
}

/* Kuvaboksi */
.box {
    height: 200px;
    width: 100%;
    background-color: #F0F9F8;
    display: grid;
    align-items: baseline;
    justify-content: baseline;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 30px;
}

.box p {
    text-align: left;
}

.kuvat {
    display: flex;
    justify-content: center;
    text-align: center;
}

.kuvat img {
    width: 60%;
    margin: 5px;
    box-sizing: border-box;
}


figcaption {
    font-family: 'Audrey', 'Geneva', sans-serif;
    font-size: 20px;
    color: #193C31;
   
}


/* Ajanvarauslomake */
.lomake {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}

label {
    display: block;
    color: #193C31;
    font-size: 18px;
}

form {
    max-width: 1050px;
    margin: 0 auto;
}

/* Palvelut sivu */
.palvelut {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    margin-right: 2em;
    margin-left: 2em;
}

.some {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.fa {
    padding: 20px;
    font-size: 50px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    align-items: center;
    margin: 0 10px;
}

.fa-facebook {
    background:#458D60;
    color: white;
  }

.fa-instagram {
    background:#458D60;
    color: white;
}

footer {
    background-color: #65A782;
    height: 100px;
    width: 100%;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* Responsiivisuus */
@media only screen and (max-width: 420px) {
.navbar {
    flex-direction: column;
    text-align: center;
}
.logo {
    position: relative;
    align-items: baseline;
    width: 95px;
    height: 80px;
}

.box {
    display: grid;
    flex-direction: column;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
    height: fit-content;

}
.kuvat {
    display: flex;
    justify-content: center;
}

.kuvat img {
    width: 50%;
    margin: 5px;
    box-sizing: border-box;   
}

.footer {
    flex-direction: column;
    text-align: center;
}
}
    
@media only screen and (min-width: 421px) and (max-width: 1024px){
.navbar {
    flex-direction: column;
    text-align: center;
}
.logo {
    position: relative;
    align-items: baseline;
    width: 95px;
    height: 80px;
}

.box {
    display: grid;
    flex-direction: column;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
    height: fit-content;

}
.kuvat {
    display: flex;
    justify-content: center;
}

.kuvat img {
    width: 50%;
    margin: 5px;
    box-sizing: border-box;   
}

.footer {
    flex-direction: column;
    text-align: center;
}
}
